.header {
  $self: &;
  position: relative;

  @include breakpoint("md") {
    display: none;
  }

  &--style-1 {
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);

    @media (min-width: 1400px) {

      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl {
        max-width: 1700px;
      }
    }
  }
}

.logo {
  @include toRem(font-size, 36);
  color: var(--color-secondary);
  font-weight: 700;

  a {
    color: inherit;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.menu-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  row-gap: 8px;
  flex-wrap: wrap;

  .logo {
    @include breakpoint("lg") {
      img {
        max-width: 140px;
      }
    }
  }
}

.menu-action-wrap {
  display: flex;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.block-menu {
  $self: &;

  @media (min-width: 992px) {
    &:first-child {
      display: flex;
      align-items: center;
      gap: 28px;
    }
  }

  &__item {
    position: relative;

    >#{$self}--sub-menu {
      position: absolute;
      left: 0;
      top: 100%;
      width: 235px;
      height: auto;
      padding: 18px 0 20px;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
      border-radius: 0 0 10px 10px;
      background-color: var(--color-white);
      z-index: 90;
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      opacity: 0;
      display: none;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 3px;
        background-color: var(--color-primary);

        .header--style-4 & {
          background-color: #fa1111;
        }
      }

      #{$self}__link {
        padding: 0.625rem 1.25rem;
        display: flex;
        align-items: center;
        gap: 8px;
        @include toRem(font-size, 15);
        font-weight: 500;
        line-height: initial;
        color: var(--color-secondary, #111);

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    &--has-child {
      >#{$self}__link {
        padding-right: 20px;

        &::after {
          content: "\f078";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          font-family: var(--font-awesome);
          font-weight: 600;
          @include toRem(font-size, 14);
          text-align: right;
          margin-left: auto;
          transition: all 0.3s ease;
          color: var(--color-secondary, #111);
        }
      }

      #{$self}--sub-menu {
        >#{$self}__item {
          &--has-child {
            #{$self}__link {
              &::after {
                right: 20px;
              }
            }

            #{$self}--sub-menu {
              left: 100%;
            }

            &:hover {
              #{$self}--sub-menu {
                top: 0;
              }
            }
          }
        }
      }

      &:hover {
        >#{$self}__link {
          color: var(--color-primary);

          .header--style-4 & {
            color: var(--color-white);
          }

          &::after {
            color: inherit;
          }
        }

        >#{$self}--sub-menu {
          top: auto;
          animation: rtfadeInDown;
          animation-duration: 400ms;
          display: grid;
          opacity: 1;
          z-index: 99;
          visibility: visible;
        }
      }
    }

    &--thumb-menu {
      &:hover {
        >#{$self}--sub-menu {
          animation: rtfadeInDownThumbMenu;
          animation-duration: 400ms;
        }
      }
    }
  }

  &__link {
    @include toRem(font-size, 16);
    font-weight: 600;
    font-family: var(--font-title);
    line-height: 1;
    color: #777777;
    padding: 42px 0;
    text-transform: capitalize;
    position: relative;

    &:hover {
      color: var(--color-primary);
    }

    &--active {
      color: var(--color-primary);
    }
  }

  &__title {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--font-title);
    line-height: 1;
    color: var(--color-black);
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__item {
    &--mm-item {
      position: static;
    }
  }

  &--mega-menu#{$self} {
    top: 100%;
    width: 100%;
    padding: 20px 30px;

    #{$self} {
      padding: 0;

      &__link {
        padding: 0.5rem 0;
      }
    }
  }
}

/*mega-menu-grid*/
.mega-menu-grid {
  display: grid;
  width: 860px;

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    &.menu-col-4 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.menu-col-6 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.menu-col-12 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/*block-action*/

.block-action {
  display: flex;
  align-items: center;
  gap: 20px;

  &__link {
    font-size: 22px;
    color: var(--color-body);

    &:hover {
      color: var(--color-primary);
    }
  }

  &__humberger {
    @media (min-width: 992px) {
      display: none;
    }
  }
}

/*header-action*/
.header-action {
  $self: &;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 8px;

  .header-action-link {
    &:hover {
      img {
        filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(3399%) hue-rotate(212deg) brightness(103%) contrast(105%);
      }

      .add-to-bag {
        .count {
          color: var(--color-white, #fff);
          background-color: var(--color-primary, #0066ff);
        }
      }
    }
  }

  // search-group
  .search-group {
    display: flex;
    align-items: center;
    column-gap: 0;
    row-gap: 4px;
    max-width: 155px;

    .form-control {
      @include toRem(font-size, 14);
      color: #b3b3b3;
      border: none;

      &::placeholder {
        color: #b3b3b3;
        text-transform: capitalize;
      }

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  // add-to-bag
  .add-to-bag {
    position: relative;
    display: block;

    .count {
      position: absolute;
      right: -12px;
      top: -2px;
      z-index: 10;

      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--color-black);
      color: var(--color-white);
      @include toRem(font-size, 13);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include transition();
    }
  }
}

// cart dropdown
.header-action-item {
  &.item-cart {
    margin-right: 12px;

    .header-action-link {
      padding-top: 25px;
      padding-bottom: 25px;
      position: relative;
    }

    .sb-cadropdown-wrap {
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 99;
      width: 320px;
      height: auto;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
      padding: 20px 20px 40px;
      visibility: hidden;
      opacity: 0;
      display: none;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: #ffffff;
      border: 1px solid #e2e2e2;
      box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    }

    &:hover {
      .sb-cadropdown-wrap {
        top: auto;
        -webkit-animation: rtfadeInDown;
        animation: rtfadeInDown;
        -webkit-animation-duration: 400ms;
        animation-duration: 400ms;
        display: block;
        opacity: 1;
        z-index: 99;
        visibility: visible;
      }
    }

    .sb-caitem-list {
      display: grid;
      gap: 10px;

      .sb-caitem {
        display: flex;
        gap: 20px;

        &:hover {
          .item-img {
            img {
              transform: scale(1.08);
            }
          }
        }
      }

      .item-img {
        flex: 0 0 80px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;

        img {
          background: #f8f8f8;
          object-fit: cover;
          transform: scale(1);
          @include transition();
        }
      }

      .item-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-grow: 1;
        font-family: var(--font-title);
        font-size: 15px;
        line-height: 1;
        margin-top: 8px;

        .item-title {
          font-weight: 500;
          line-height: 1;

          a {
            color: var(--color-black, #000);

            &:hover {
              color: var(--color-primary, #0066ff);
            }
          }
        }

        .item-price {
          color: #666666;
          line-height: 1;

          .multi {
            font-size: 24px;
          }
        }
      }

      .item-delete {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        align-self: flex-start;
        line-height: 1;
        margin-top: 4px;

        .close-btn {
          font-size: 18px;
          color: #626262;
          cursor: pointer;
          @include transition();
          border: none;
          background: none;

          &:focus {
            box-shadow: none;
            outline: 0;
          }

          &:hover {
            color: var(--color-primary, #0066ff);
          }
        }
      }
    }
  }
}

.sb-cafooter {
  .sb-catotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black, #000);
    border-top: 1px solid #d6d6d6;
    margin-top: 30px;
    padding-top: 15px;
    margin-bottom: 30px;
  }

  .total-price {
    font-size: 24px;
  }
}

.sb-cabuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .cabtn {
    padding: 13.5px 25px;
    flex-grow: 1;
  }

  .sb-outline-btn {
    color: var(--color-black, #000);
    border: 1px solid #d6d6d6;

    &:hover {
      color: var(--color-white, #fff);
      border-color: var(--color-primary, #0066ff);
      background: var(--color-primary, #0066ff);
    }
  }

  .sb-fill-btn {
    border: 1px solid var(--color-black, #000);
    background: var(--color-black, #000);

    &:hover {
      color: var(--color-white, #fff);
      background: var(--color-primary, #0066ff);
      border-color: var(--color-primary, #0066ff);
    }
  }
}