/*ecom-product*/

/* Style-1  ecom-action-btn*/
.ecom-action-btn {
  @extend .shopbuilder-btn;
  @include toRem(font-size, 15);
  font-weight: 400;
  color: var(--color-white);
  border: none;
  background-color: var(--color-secondary, #111);
  border-radius: 3px;
  padding: 8px;
  width: 40px;
  height: 40px;

  .icon {
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);

    .icon {
      animation: toBottomFromTop 0.5s forwards;
    }
  }
}

/*ecom-action-button-list*/
.ecom-action-button-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

/*ecom-action-buttons*/
.ecom-action-buttons {
  &.ecom-action-buttons-outline {
    .ecom-action-btn {
      color: #2a2a2a;
      background-color: transparent;
      border: 1px solid #d1d1d1;

      &:hover {
        color: var(--color-white);
        border-color: var(--color-secondary, #111);
        background-color: var(--color-secondary, #111);
      }
    }
  }

  &.ecom-action-buttons-vertical {
    .ecom-action-button-list {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &.ecom-action-buttons-cart-box-width-auto {
    .ecom-action-button-list {
      .ecom-cart {
        flex-grow: 1;

        .ecom-action-btn {
          display: flex;
          width: auto;
        }
      }
    }
  }

  &.ecom-action-buttons-cart-text-normal {
    .ecom-action-button-list {
      gap: 7px;

      .ecom-cart {
        .ecom-action-btn {
          display: inline-flex;
          width: auto;
          padding: 8px 25px;
        }
      }
    }
  }
}

/*ecom-color-variation-swatch-rectangle*/
.ecom-color-variation-swatch-rectangle {
  .shopbuilder-filter-check-group {
    display: flex;
    align-items: center;

    .ecom-checkbox+.ecom-checkbox-label {
      .color-swatch {
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background: var(--ecom-color-bg, #e7e7e7);

        &::after {
          content: "";
          position: absolute;
          @include center-position();
          width: 12px;
          height: 12px;
          border-radius: 2px;
          background: var(--ecom-color-bg, #e7e7e7);
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .ecom-checkbox:checked+.ecom-checkbox-label {
      .color-swatch {
        border: 1px solid #d0d0d0;
        background: transparent;

        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

/*ecom-color-variation-swatch-circle*/
.ecom-color-variation-swatch-circle {
  .ecom-color-variation-list {
    gap: 10px;
  }

  .shopbuilder-filter-check-group {
    display: flex;
    align-items: center;

    .ecom-checkbox+.ecom-checkbox-label {
      .color-swatch {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--ecom-color-bg, #e7e7e7);
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          @include center-position();
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: transparent;
          box-shadow: 0 0 0 2px #e9e9e9;
          visibility: hidden;
          opacity: 0;
          @include transition();
          z-index: -1;
        }
      }
    }

    .ecom-checkbox:checked+.ecom-checkbox-label {
      .color-swatch {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &.ecom-color-variation-swatch-circle-style-2 {
    .ecom-color-variation-list {
      gap: 13px;
    }

    .shopbuilder-filter-check-group {
      .ecom-checkbox+.ecom-checkbox-label {
        .color-swatch {
          width: 16px;
          height: 16px;
          outline: solid 1px #d8d8d8;
          outline-offset: 2px;

          &::after {
            content: "\f00c";
            font-family: var(--font-awesome);
            font-weight: 800;
            color: var(--color-white);
            @include toRem(font-size, 12);
            line-height: 1;
            box-shadow: none;
            width: auto;
            height: auto;
          }
        }
      }

      .ecom-checkbox:checked+.ecom-checkbox-label {
        .color-swatch {
          &::after {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

/*ecom-size-variation*/
.ecom-size-variation {
  .shopbuilder-filter-check-group {
    .ecom-checkbox+.ecom-checkbox-label {
      .size-box {
        width: 34px;
        height: 30px;
        border: 1px solid #d8d8d8;
        color: #888;
      }
    }

    .ecom-checkbox:checked+.ecom-checkbox-label {
      .size-box {
        background: #434343;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &.ecom-size-variation-style-2 {
    .shopbuilder-size-filter-list {
      gap: 14px;
    }

    .shopbuilder-filter-check-group {
      .ecom-checkbox+.ecom-checkbox-label {
        .size-box {
          @include toRem(font-size, 16);
          font-weight: 500;
          width: 40px;
          height: 34px;
          color: #888;
          border: none;
          border-radius: 0;
          background-color: #ededed;
          outline: 1px solid #e0e0e0;
          outline-offset: 2px;
        }
      }

      .ecom-checkbox:checked+.ecom-checkbox-label {
        .size-box {
          color: var(--color-white);
          background: var(--color-secondary);
          box-shadow: none;
        }
      }
    }
  }
}

/*star-rating*/
.product-rating {
  line-height: 1;

  .rate-inner {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
  }

  .text,
  .count {
    @include toRem(font-size, 14);
    font-weight: 400;
    color: #888888;
  }

  .text {
    a {
      color: inherit;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

// star rating
.star-rating {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  @include toRem(font-size, 14);
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 900;
  color: #eabe12;
  font-family: var(--font-awesome);

  &::before {
    content: "\f005\f005\f005\f005\f005";
    color: #d6d6d6;
  }

  span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    text-indent: 99999px;

    &::before {
      content: "\f005\f005\f005\f005\f005";
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
    }
  }
}

/*ecom-star-list*/
.ecom-star-list {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 1;

  i {
    @include toRem(font-size, 15);
    color: #d6d6d6;
    line-height: 1;

    &.checked {
      color: #eabe12;
    }
  }
}

/*ecom-product*/
.ecom-product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include transition();

  .ecom-product-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    .ecom-img-link {
      img {
        background-color: #f8f8f8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .ecom-category-outline {
    color: #a3a3a3;
    border-radius: var(--border-radius-xl);
    border-radius: 100vmax;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

  .product-title {
    @include toRem(font-size, 18);
    font-weight: 500;
    color: var(--color-body, #666);
    line-height: 1.4;
    margin-bottom: 0;

    a {
      color: inherit;
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.625;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .price {
    @include toRem(font-size, 18);
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-price, var(--color-secondary, #111));
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    row-gap: 6px;

    del {
      font-weight: 400;
      color: #aeaeae;
    }

    ins {
      text-decoration: none;
    }

    .unit {
      @include toRem(font-size, 13);
      color: #aeaeae;
      text-transform: capitalize;
      font-weight: 400;
    }
  }

  .product-feature {
    display: grid;
    gap: 5px;

    li {
      @include toRem(font-size, 16);
      color: var(--color-body, #666);
      font-weight: 400;
      line-height: 1.5;
      position: relative;
      padding-left: 14px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }

  // conditional spacing
  .ecom-product-category+.product-title {
    margin-top: 14px;
  }

  .ecom-product-category+.product-price {
    margin-top: 18px;
  }

  .product-title+.product-short-desc {
    margin-top: 6px;
  }

  .product-title+.product-price {
    margin-top: 8px;
  }

  .product-short-desc+.product-price {
    margin-top: 10px;
  }

  .product-title+.ecom-product-category {
    margin-top: 10px;
  }

  .product-price+.ecom-product-category {
    margin-top: 14px;
  }

  .product-price+.product-title {
    margin-top: 10px;
  }

  .product-short-desc+.ecom-product-category {
    margin-top: 18px;
  }

  .product-short-desc+.product-title {
    margin-top: 14px;
  }

  .ecom-color-variation+.product-title {
    margin-top: 18px;
  }

  .ecom-color-variation+.product-price {
    margin-top: 18px;
  }

  .ecom-color-variation+.product-short-desc {
    margin-top: 14px;
  }

  .product-title+.ecom-color-variation {
    margin-top: 12px;
  }

  .product-price+.ecom-color-variation {
    margin-top: 14px;
  }

  .ecom-size-variation+.product-title {
    margin-top: 18px;
  }

  .ecom-size-variation+.product-price {
    margin-top: 18px;
  }

  .ecom-size-variation+.product-short-desc {
    margin-top: 14px;
  }

  .product-title+.ecom-size-variation {
    margin-top: 12px;
  }

  .product-price+.ecom-size-variation {
    margin-top: 14px;
  }

  .product-title+.product-rating {
    margin-top: 10px;
  }

  .product-rating+.product-price {
    margin-top: 14px;
  }

  .ecom-product-category+.product-rating {
    margin-top: 16px;
  }

  .product-rating+.product-title {
    margin-top: 12px;
  }

  .product-title-with-color+.product-price {
    margin-top: 12px;
  }

  .product-price+.ecom-action-buttons {
    margin-top: 18px;
  }

  .product-title-with-color+.ecom-action-buttons {
    margin-top: 18px;
  }

  .product-title+.ecom-action-buttons {
    margin-top: 16px;
  }

  .product-price+.product-title-with-color {
    margin-top: 10px;
  }

  .ecom-action-buttons+.product-title-with-color {
    margin-top: 24px;
  }

  .product-price+.product-short-desc {
    margin-top: 14px;
  }

  .product-short-desc+.ecom-action-buttons {
    margin-top: 24px;
  }

  .ecom-product-category+.ecom-action-buttons {
    margin-top: 30px;
  }

  p+.product-feature {
    margin-top: 14px;
  }

  .product-feature+p {
    margin-top: 14px;
  }

  .product-rating+.product-short-desc {
    margin-top: 18px;
  }

  .product-price+.product-rating {
    margin-top: 12px;
  }

  .product-rating+.ecom-action-buttons {
    margin-top: 25px;
  }

  // otehrs
  .ecom-color-variation-list {
    gap: 8px;
  }


  // default hover
  &:hover {
    .ecom-product-img {
      .ecom-img-link {
        img {
          transform: scale(1.08);
        }
      }
    }
  }

  //ecom-product-grid-style-1
  &.ecom-product-style-1 {
    .ecom-action-buttons {
      .ecom-cart {
        .ecom-action-btn {
          width: auto;
        }
      }
    }
  }
}


.shopbuilder-load-more-btn-wrap {
  margin-top: 70px;

  .ecom-fill-btn {
    @include toRem(font-size, 15);
    color: var(--color-secondary, #111);
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 15px 30px;
    text-transform: uppercase;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);

      .icon {
        animation: spin 4s linear infinite;
      }
    }
  }
}

/*ecom-product-img-slider-wrapper*/

.ecom-product-img-slider-wrapper {
  position: relative;

  .swiper {
    position: static;
  }

  .ecom-slider-img {
    position: relative;

    img {
      background-color: #f8f8f8;
    }
  }

  .ecom-thumbs-slider {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 40px;
    z-index: 99;

    .ecom-slider-img {
      position: relative;

      img {
        background-color: #fff;
        background: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        filter: grayscale(1);
        transition: all 0.4s ease;
      }
    }

    .swiper-slide-thumb-active {
      .ecom-slider-img {
        img {
          filter: grayscale(0);
        }
      }
    }
  }

  //ecom-slider-btn
  .ecom-slider-btn {
    @include toRem(font-size, 16);
    color: var(--color-black);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    box-shadow: 0px 10px 40px 0 rgba(0, 0, 0, 0.1);
    @include transition();
    visibility: hidden;
    opacity: 0;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
      box-shadow: 0px 10px 40px 0 rgba(0, 102, 255, 0.1);
    }

    &.ecom-btn-next {
      left: auto;
      right: 0;
    }
  }

  &:hover {
    .ecom-slider-btn {
      left: 30px;
      visibility: visible;
      opacity: 1;

      &.ecom-btn-next {
        left: auto;
        right: 30px;
      }
    }
  }

  &.ecom-slider-btn-normal {
    .ecom-slider-btn {
      @include toRem(font-size, 20);
      background: transparent;
      color: #8a8a8a;
      box-shadow: none;
      width: auto;
      height: auto;

      &:hover {
        color: #2a2a2a;
      }
    }
  }
}

/*shop-feature-list*/
.shop-feature-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;

  li {
    flex: 0 0 45%;
    @include toRem(font-size, 16);
    color: var(--color-body, #666);
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      align-self: baseline;
      flex-shrink: 0;
      flex: 0 0 30px;
    }

    @include breakpoint("sm") {
      flex: 0 0 100%;
    }
  }
}