/*ecom-product*/

/* Style-1  ecom-action-btn*/
.ecom-action-btn {
  @extend .shopbuilder-btn;
  @include toRem(font-size, 15);
  font-weight: 400;
  color: var(--color-white);
  border: none;
  background-color: var(--color-secondary, #111);
  border-radius: 3px;
  padding: 8px;
  width: 40px;
  height: 40px;

  .icon {
    @include toRem(font-size, 14);
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);

    .icon {
      animation: toBottomFromTop 0.5s forwards;
    }
  }
}

/*ecom-action-button-list*/
.ecom-action-button-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  .ecom-cart {
    .ecom-action-btn {
      .icon {
        @include toRem(font-size, 16);
      }
    }
  }
}

/*ecom-action-buttons*/
.ecom-action-buttons {
  &.ecom-action-buttons-outline {
    .ecom-action-btn {
      color: #2a2a2a;
      background-color: transparent;
      border: 1px solid #d1d1d1;

      &:hover {
        color: var(--color-white);
        border-color: var(--color-secondary, #111);
        background-color: var(--color-secondary, #111);
      }
    }
  }

  &.ecom-action-buttons-vertical {
    .ecom-action-button-list {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &.ecom-action-buttons-cart-box-width-auto {
    .ecom-action-button-list {
      .ecom-cart {
        flex-grow: 1;

        .ecom-action-btn {
          display: flex;
          width: auto;
        }
      }
    }
  }

  &.ecom-action-buttons-cart-text-normal {
    .ecom-action-button-list {
      gap: 7px;

      .ecom-cart {
        .ecom-action-btn {
          display: inline-flex;
          width: auto;
          padding: 8px 25px;
        }
      }
    }
  }
}

/*ecom-color-variation-swatch-rectangle*/
.ecom-color-variation-swatch-rectangle {
  .shopbuilder-filter-check-group {
    display: flex;
    align-items: center;

    .ecom-checkbox+.ecom-checkbox-label {
      .color-swatch {
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        background: var(--ecom-color-bg, #e7e7e7);

        &::after {
          content: "";
          position: absolute;
          @include center-position();
          width: 12px;
          height: 12px;
          border-radius: 2px;
          background: var(--ecom-color-bg, #e7e7e7);
          visibility: hidden;
          opacity: 0;
        }
      }
    }

    .ecom-checkbox:checked+.ecom-checkbox-label {
      .color-swatch {
        border: 1px solid #d0d0d0;
        background: transparent;

        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

/*ecom-color-variation-swatch-circle*/
.ecom-color-variation-swatch-circle {
  .ecom-color-variation-list {
    gap: 10px;
  }

  .shopbuilder-filter-check-group {
    display: flex;
    align-items: center;

    .ecom-checkbox+.ecom-checkbox-label {
      .color-swatch {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--ecom-color-bg, #e7e7e7);
        z-index: 1;

        &::after {
          content: "";
          position: absolute;
          @include center-position();
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: transparent;
          box-shadow: 0 0 0 2px #e9e9e9;
          visibility: hidden;
          opacity: 0;
          @include transition();
          z-index: -1;
        }
      }
    }

    .ecom-checkbox:checked+.ecom-checkbox-label {
      .color-swatch {
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &.ecom-color-variation-swatch-circle-style-2 {
    .ecom-color-variation-list {
      gap: 13px;
    }

    .shopbuilder-filter-check-group {
      .ecom-checkbox+.ecom-checkbox-label {
        .color-swatch {
          width: 16px;
          height: 16px;
          outline: solid 1px #d8d8d8;
          outline-offset: 2px;

          &::after {
            content: "\f00c";
            font-family: var(--font-awesome);
            font-weight: 800;
            color: var(--color-white);
            @include toRem(font-size, 12);
            line-height: 1;
            box-shadow: none;
            width: auto;
            height: auto;
          }
        }
      }

      .ecom-checkbox:checked+.ecom-checkbox-label {
        .color-swatch {
          &::after {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

/*ecom-size-variation*/
.ecom-size-variation {
  .shopbuilder-filter-check-group {
    .ecom-checkbox+.ecom-checkbox-label {
      .size-box {
        width: 34px;
        height: 30px;
        border: 1px solid #d8d8d8;
        color: #888;
      }
    }

    .ecom-checkbox:checked+.ecom-checkbox-label {
      .size-box {
        background: #434343;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &.ecom-size-variation-style-2 {
    .shopbuilder-size-filter-list {
      gap: 14px;
    }

    .shopbuilder-filter-check-group {
      .ecom-checkbox+.ecom-checkbox-label {
        .size-box {
          @include toRem(font-size, 16);
          font-weight: 500;
          width: 40px;
          height: 34px;
          color: #888;
          border: none;
          border-radius: 0;
          background-color: #ededed;
          outline: 1px solid #e0e0e0;
          outline-offset: 2px;
        }
      }

      .ecom-checkbox:checked+.ecom-checkbox-label {
        .size-box {
          color: var(--color-white);
          background: var(--color-secondary);
          box-shadow: none;
        }
      }
    }
  }
}

/*star-rating*/
.product-rating {
  line-height: 1;

  .rate-inner {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
  }

  .text,
  .count {
    @include toRem(font-size, 14);
    font-weight: 400;
    color: #888888;
  }

  .text {
    a {
      color: inherit;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

// star rating
.star-rating {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  @include toRem(font-size, 14);
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 900;
  color: #eabe12;
  font-family: var(--font-awesome);

  &::before {
    content: "\f005\f005\f005\f005\f005";
    color: #d6d6d6;
  }

  span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    text-indent: 99999px;

    &::before {
      content: "\f005\f005\f005\f005\f005";
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
    }
  }
}

/*ecom-star-list*/
.ecom-star-list {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  line-height: 1;

  i {
    @include toRem(font-size, 15);
    color: #d6d6d6;
    line-height: 1;

    &.checked {
      color: #eabe12;
    }
  }
}

/*ecom-product*/
.ecom-product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include transition();

  // ecom-double-img
  &.ecom-double-img {
    .ecom-product-img {
      .ecom-img-link {
        .ecom-img-hover {
          position: absolute;
          inset: 0;
          opacity: 0;
          transform: scale(1);
        }

        img {
          transition-duration: 0.7s;
        }
      }
    }

    &:hover {
      .ecom-product-img {
        .ecom-img-link {
          img {
            transform: scale(1);
          }

          .ecom-img-normal {
            opacity: 0;
          }

          .ecom-img-hover {
            opacity: 1;
          }
        }
      }
    }

    //ecom-double-img-zoom-in
    &.ecom-double-img-zoom-in {
      .ecom-product-img {
        .ecom-img-link {
          .ecom-img-hover {
            transform: scale(1);
          }

          img {
            transition-duration: 0.6s;
          }
        }
      }

      &:hover {
        .ecom-product-img {
          .ecom-img-link {
            .ecom-img-normal {
              opacity: 0;
            }

            .ecom-img-hover {
              opacity: 1;
              transform: scale(1.1);
            }
          }
        }
      }
    }

    //ecom-double-img-zoom-out
    &.ecom-double-img-zoom-out {
      .ecom-product-img {
        .ecom-img-link {
          .ecom-img-hover {
            transform: scale(1.1);
          }

          img {
            transition-duration: 0.6s;
          }
        }
      }

      &:hover {
        .ecom-product-img {
          .ecom-img-link {
            .ecom-img-hover {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }
    }

    //ecom-double-img-fade-in
    &.ecom-double-img-fade-in {
      .ecom-product-img {
        .ecom-img-link {
          img {
            transition-duration: 0.5s;
          }

          .ecom-img-hover {
            transform: scale(1);
          }
        }
      }

      &:hover {
        .ecom-product-img {
          .ecom-img-link {
            img {
              transform: scale(1);
            }

            .ecom-img-normal {
              opacity: 0;
            }

            .ecom-img-hover {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .ecom-product-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    .ecom-img-link {
      img {
        background-color: #f8f8f8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .ecom-promotion {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
  }

  .ecom-category-outline {
    color: #a3a3a3;
    border-radius: var(--border-radius-xl);

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

  .product-title {
    @include toRem(font-size, 18);
    font-weight: 500;
    color: var(--color-body, #666);
    line-height: 1.4;
    margin-bottom: 0;

    a {
      color: inherit;
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.625;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .price {
    @include toRem(font-size, 18);
    line-height: 1.2;
    font-weight: 500;
    color: var(--color-price, var(--color-secondary, #111));
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    row-gap: 6px;

    del {
      font-weight: 400;
      color: #aeaeae;
    }

    ins {
      text-decoration: none;
    }

    .unit {
      @include toRem(font-size, 13);
      color: #aeaeae;
      text-transform: capitalize;
      font-weight: 400;
    }
  }

  .product-feature {
    display: grid;
    gap: 5px;

    li {
      @include toRem(font-size, 16);
      color: var(--color-body, #666);
      font-weight: 400;
      line-height: 1.5;
      position: relative;
      padding-left: 14px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }

  // conditional spacing
  .ecom-product-category+.product-title {
    margin-top: 14px;
  }

  .ecom-product-category+.product-price {
    margin-top: 18px;
  }

  .product-title+.product-short-desc {
    margin-top: 6px;
  }

  .product-title+.product-price {
    margin-top: 8px;
  }

  .product-short-desc+.product-price {
    margin-top: 10px;
  }

  .product-title+.ecom-product-category {
    margin-top: 10px;
  }

  .product-price+.ecom-product-category {
    margin-top: 14px;
  }

  .product-price+.product-title {
    margin-top: 10px;
  }

  .product-short-desc+.ecom-product-category {
    margin-top: 18px;
  }

  .product-short-desc+.product-title {
    margin-top: 14px;
  }

  .ecom-color-variation+.product-title {
    margin-top: 18px;
  }

  .ecom-color-variation+.product-price {
    margin-top: 18px;
  }

  .ecom-color-variation+.product-short-desc {
    margin-top: 14px;
  }

  .product-title+.ecom-color-variation {
    margin-top: 12px;
  }

  .product-price+.ecom-color-variation {
    margin-top: 14px;
  }

  .ecom-size-variation+.product-title {
    margin-top: 18px;
  }

  .ecom-size-variation+.product-price {
    margin-top: 18px;
  }

  .ecom-size-variation+.product-short-desc {
    margin-top: 14px;
  }

  .product-title+.ecom-size-variation {
    margin-top: 12px;
  }

  .product-price+.ecom-size-variation {
    margin-top: 14px;
  }

  .product-title+.product-rating {
    margin-top: 10px;
  }

  .product-rating+.product-price {
    margin-top: 14px;
  }

  .ecom-product-category+.product-rating {
    margin-top: 16px;
  }

  .product-rating+.product-title {
    margin-top: 12px;
  }

  .product-title-with-color+.product-price {
    margin-top: 12px;
  }

  .product-price+.ecom-action-buttons {
    margin-top: 18px;
  }

  .product-title-with-color+.ecom-action-buttons {
    margin-top: 18px;
  }

  .product-title+.ecom-action-buttons {
    margin-top: 16px;
  }

  .product-price+.product-title-with-color {
    margin-top: 10px;
  }

  .ecom-action-buttons+.product-title-with-color {
    margin-top: 24px;
  }

  .product-price+.product-short-desc {
    margin-top: 14px;
  }

  .product-short-desc+.ecom-action-buttons {
    margin-top: 24px;
  }

  .ecom-product-category+.ecom-action-buttons {
    margin-top: 30px;
  }

  p+.product-feature {
    margin-top: 14px;
  }

  .product-feature+p {
    margin-top: 14px;
  }

  .product-rating+.product-short-desc {
    margin-top: 18px;
  }

  .product-price+.product-rating {
    margin-top: 12px;
  }

  .product-rating+.ecom-action-buttons {
    margin-top: 25px;
  }

  // otehrs
  .ecom-color-variation-list {
    gap: 8px;
  }

  .ecom-item-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }

  .ecom-hover-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 4;
    padding: 0 30px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;

    .ecom-action-buttons {
      .ecom-action-button-list {
        column-gap: 8px;
        row-gap: 10px;
        justify-content: center;

        .ecom-details {
          flex-grow: 1;
          text-align: center;

          a {
            border-radius: 3px;
            padding: 12px 28px;
          }
        }

        .ecom-action-button-item {
          transform: translateX(20px);
          opacity: 0;
          @include transition();

          &.ecom-details {
            transform: translateY(20px);
          }
        }
      }
    }
  }

  // default hover
  &:hover {
    .ecom-product-img {
      .ecom-img-link {
        img {
          transform: scale(1.1);
        }
      }
    }

    .ecom-hover-content {
      visibility: visible;
      opacity: 1;

      .ecom-action-buttons {
        .ecom-action-button-list {
          .ecom-action-button-item {
            transform: translateX(0);
            opacity: 1;

            &.ecom-details {
              transform: translateY(0);
            }

            &:nth-of-type(1) {
              transition-delay: 0.1s;
            }

            &:nth-of-type(2) {
              transition-delay: 0.2s;
            }

            &:nth-of-type(3) {
              transition-delay: 0.3s;
            }

            &:nth-of-type(4) {
              transition-delay: 0.4s;
            }
          }
        }
      }
    }
  }

  // grid layout (1-10)

  //ecom-product-grid-style-1
  &.ecom-product-grid-style-1 {
    .ecom-action-buttons {
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      padding: 0 10px;
      transform: translateY(100%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s ease;

      .ecom-action-button-list {
        justify-content: center;
      }
    }

    &:hover {
      .ecom-action-buttons {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  //ecom-product-grid-style-2
  &.ecom-product-grid-style-2 {
    .ecom-action-buttons {
      position: absolute;
      height: 100%;
      right: 10px;
      top: 0;

      .ecom-action-button-list {
        justify-content: center;
        height: 100%;
      }

      .ecom-action-btn {
        color: #2a2a2a;
        background-color: var(--color-white);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

        &:hover {
          color: var(--color-white);
          background: #383838;
        }
      }

      .ecom-action-button-list {
        .ecom-action-button-item {
          visibility: hidden;
          opacity: 0;
          transform: translateX(20px);
          @include transition();
        }
      }
    }

    &:hover {
      .ecom-img-link {
        img {
          background-color: #d9d9d9;
        }
      }

      .ecom-action-buttons {
        .ecom-action-button-list {
          .ecom-action-button-item {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);

            &:nth-of-type(1) {
              transition-delay: 0s;
            }

            &:nth-of-type(2) {
              transition-delay: 0.2s;
            }

            &:nth-of-type(3) {
              transition-delay: 0.4s;
            }

            &:nth-of-type(4) {
              transition-delay: 0.6s;
            }

            &:nth-of-type(5) {
              transition-delay: 0.8s;
            }

            &:nth-of-type(6) {
              transition-delay: 0.8s;
            }
          }
        }
      }
    }
  }

  //ecom-product-grid-style-3
  &.ecom-product-grid-style-3 {
    gap: 30px;
    text-align: center;
    overflow: hidden;

    .product-title-with-btn {
      position: relative;
      margin-top: 10px;
      min-height: 25px;

      .product-title,
      .btn-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;

        a {
          display: inline-flex;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          transition: all 0.4s ease-in-out;
        }
      }

      .btn-wrap {
        a {
          transform: translateX(-100%);
          opacity: 0;
        }
      }
    }

    &:hover {
      .product-title-with-btn {
        .btn-wrap {
          a {
            transform: translateX(0);
            opacity: 1;
          }
        }

        .product-title {
          a {
            transform: translateX(100%);
            opacity: 0;
          }
        }
      }
    }
  }

  //ecom-product-grid-style-4
  &.ecom-product-grid-style-4 {
    .ecom-action-buttons {
      &.action-part-one {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        visibility: hidden;
        opacity: 0;
        @include transition();

        .ecom-cart {
          flex-grow: 1;
        }

        .ecom-action-btn {
          display: flex;
          width: 100%;
          height: 45px;
          color: #cbcbcb;
          background-color: #383838;
          border-radius: 0;

          &:hover {
            color: var(--color-white);
            background-color: var(--color-secondary, #111);
          }
        }
      }

      &.action-part-two {
        position: absolute;
        @include center-position();

        .ecom-action-button-list {
          justify-content: center;
          height: 100%;
        }

        .ecom-action-btn {
          color: #2a2a2a;
          background-color: var(--color-white);

          &:hover {
            color: var(--color-white);
            background: var(--color-secondary, #111);
          }
        }

        .ecom-action-button-list {
          .ecom-action-button-item {
            visibility: hidden;
            opacity: 0;
            transform: translateY(20px);
            @include transition();
          }
        }
      }
    }

    .ecom-color-variation-list {
      gap: 10px;
    }

    &:hover {
      .ecom-action-buttons {
        &.action-part-one {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
        }

        &.action-part-two {
          .ecom-action-button-list {
            .ecom-action-button-item {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);

              &:nth-of-type(1) {
                transition-delay: 0s;
              }

              &:nth-of-type(2) {
                transition-delay: 0.2s;
              }

              &:nth-of-type(3) {
                transition-delay: 0.4s;
              }

              &:nth-of-type(4) {
                transition-delay: 0.6s;
              }

              &:nth-of-type(5) {
                transition-delay: 0.8s;
              }

              &:nth-of-type(6) {
                transition-delay: 0.8s;
              }
            }
          }
        }
      }
    }
  }

  // ecom-product-grid-style-5
  &.ecom-product-grid-style-5 {

    //action-part-two
    .action-part-two {
      position: absolute;
      right: 22px;
      top: 22px;
      z-index: 9;
      transform: translateX(100%);
      visibility: hidden;
      opacity: 0;
      @include transition();

      .ecom-action-btn {
        @include toRem(font-size, 15);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #b1b1b1;
        border-color: #b1b1b1;
        background-color: transparent;

        &:hover {
          color: var(--color-white);
          border-color: transparent;
          background-color: var(--color-secondary, #111);
        }
      }
    }

    // action-part-one
    .action-part-one {
      .ecom-cart {
        .icon {
          @include toRem(font-size, 18);
        }
      }

      .ecom-action-btn {
        @include toRem(font-size, 15);
        width: 48px;
        height: 48px;
        border-color: var(--color-secondary, #111);
        text-transform: uppercase;

        &:hover {
          border-color: var(--color-secondary, #111);
        }
      }

      .icon {
        @include toRem(font-size, 16);
      }
    }

    &:hover {
      .action-part-two {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  // ecom-product-grid-style-6
  &.ecom-product-grid-style-6 {
    position: relative;
    z-index: 1;
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px 0;
    padding-bottom: 40px;
    border: 1px solid #e1e1e1;
    @include transition();

    .ecom-img-link {
      img {
        background: transparent;
      }
    }

    .ecom-promotion {
      top: 0;
    }

    .ecom-action-button-list,
    .ecom-category-list {
      justify-content: center;
    }

    .ecom-category-list {
      .ecom-category-list-item {
        line-height: 1;
      }

      .ecom-tag-text {
        @include toRem(font-size, 13);
        font-weight: 500;
        color: #aeaeae;
        text-transform: uppercase;

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    .product-price {
      justify-content: center;
    }

    .ecom-action-buttons {
      gap: 8px;

      .ecom-action-btn {
        width: 42px;
        height: 42px;
        border-color: var(--color-secondary, #111);

        &:hover {
          border-color: var(--color-secondary, #111);
        }
      }
    }

    .product-fade-block {
      position: absolute;
      left: 0;
      right: 0;
      padding: 20px 0 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      -webkit-transition: all 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      transition: all 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      will-change: opacity, transform;
    }

    .product-content-fade {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      border-radius: var(--border-radius-sm);
      opacity: 0;
      -webkit-transition: opacity 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      transition: opacity 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      will-change: opacity;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
      pointer-events: none;
      z-index: -1;
    }

    &:hover {
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
      border-color: transparent;

      .product-content-fade {
        opacity: 1;
      }

      .product-fade-block {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
  }

  // ecom-product-grid-style-7
  &.ecom-product-grid-style-7 {

    //action-part-three
    .action-part-three {
      position: absolute;
      right: 22px;
      top: 22px;
      z-index: 9;
      transform: translateY(20px);
      visibility: hidden;
      opacity: 0;
      @include transition();

      .ecom-action-btn {
        @include toRem(font-size, 15);
        width: auto;
        height: auto;
        border-radius: unset;
        background-color: transparent;
        padding: 0;
        border: none;
        color: #b1b1b1;

        &:hover {
          color: var(--color-secondary, #111);
          border-color: var(--color-secondary, #111);
        }
      }
    }

    // action-part-two
    .action-part-two {
      position: absolute;
      bottom: 10px;
      width: calc(100% - 20px);
      left: 50%;
      transform: translate(-50%, 100%);
      @include transition();
      visibility: hidden;
      opacity: 0;
      z-index: 9;

      .ecom-action-button-list {
        .ecom-action-button-item {
          flex: 1;

          .ecom-action-btn {
            @include toRem(font-size, 14);
            display: flex;
            height: 40px;
          }
        }
      }

      .ecom-action-btn {
        width: auto;
        height: 44px;
        padding: 8px 12px;
        background-color: #fff;
        color: var(--color-black);
        border: none;

        &:hover {
          color: var(--color-white);
          background-color: var(--color-primary);
        }
      }
    }

    // action-part-one
    .action-part-one {
      .ecom-action-btn {
        width: auto;
        height: 44px;
        padding: 8px 22px;
      }
    }

    .ecom-product-img-slider-wrapper {
      .ecom-slider-btn {
        width: 36px;
        height: 36px;
        @include toRem(font-size, 14);
        left: 20px;
        transform: translateY(-50%) scale(0.6);

        &.ecom-btn-next {
          left: auto;
          right: 20px;
        }
      }

      &:hover {
        .ecom-slider-btn {
          transform: translateY(-50%) scale(1);
        }
      }
    }

    &:hover {
      .action-part-three {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

      // action-part-two
      .action-part-two {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }
  }

  // ecom-product-grid-style-8
  &.ecom-product-grid-style-8 {
    .action-part-one {
      .ecom-action-btn {
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }
    }

    .action-part-two {
      position: absolute;
      height: 100%;
      right: 10px;
      top: 0;

      .ecom-action-button-list {
        justify-content: center;
        height: 100%;
      }

      .ecom-action-btn {
        color: #2a2a2a;
        background-color: var(--color-white);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

        &:hover {
          color: var(--color-white);
          background: #383838;
        }
      }

      .ecom-action-button-list {
        .ecom-action-button-item {
          visibility: hidden;
          opacity: 0;
          transform: translateX(20px);
          @include transition();
        }
      }
    }

    .ecom-tag-outline {
      color: var(--color-secondary);
      border-color: var(--color-secondary);

      &.angle-right {
        &::after {
          border-color: var(--color-secondary);
        }
      }
    }

    &:hover {

      // .ecom-img-link {
      //   img {
      //     background-color: #d9d9d9;
      //   }
      // }
      .action-part-two {
        .ecom-action-button-list {
          .ecom-action-button-item {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);

            &:nth-of-type(1) {
              transition-delay: 0s;
            }

            &:nth-of-type(2) {
              transition-delay: 0.2s;
            }

            &:nth-of-type(3) {
              transition-delay: 0.4s;
            }

            &:nth-of-type(4) {
              transition-delay: 0.6s;
            }

            &:nth-of-type(5) {
              transition-delay: 0.8s;
            }

            &:nth-of-type(6) {
              transition-delay: 0.8s;
            }
          }
        }
      }
    }
  }

  // TODO: action-part-two css remove
  // ecom-product-grid-style-9
  &.ecom-product-grid-style-9 {
    overflow: hidden;
    background-color: #f6f6f6;

    .ecom-product-img {
      border-radius: 0;
    }

    .action-part-one {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 9;
      transform: translateX(100%);
      visibility: hidden;
      opacity: 0;
      @include transition();

      .ecom-action-btn {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: var(--color-white);
        color: #2a2a2a;
        border: none;

        &:hover {
          background-color: var(--color-secondary, #111);
          color: var(--color-white);
        }
      }
    }

    .ecom-product-content {
      padding: 0 30px 30px;
    }

    &:hover {
      .action-part-one {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  // ecom-product-grid-style-10
  &.ecom-product-grid-style-10 {
    gap: 10px;
    padding: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    z-index: 1;

    .ecom-img-link-normal {
      text-align: center;
      padding: 5px;
    }

    .ecom-img-link {
      img {
        background-color: transparent;
      }
    }

    //action-part-three
    .action-part-three {
      position: absolute;
      right: 22px;
      top: 22px;
      z-index: 9;
      @include transition();

      .ecom-action-btn {
        @include toRem(font-size, 15);
        width: auto;
        height: auto;
        border-radius: unset;
        background-color: transparent;
        padding: 0;
        border: none;
        color: #b1b1b1;

        &:hover {
          color: var(--color-secondary, #111);
          border-color: var(--color-secondary, #111);
        }
      }
    }

    .ecom-category-list {
      .ecom-category-list-item {
        line-height: 1;
      }

      .ecom-tag-text {
        @include toRem(font-size, 13);
        font-weight: 500;
        color: #aeaeae;

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    //action-part-two
    .action-part-two {
      padding-left: 25px;
      gap: 8px;

      .ecom-action-btn {
        width: 40px;
        height: 40px;
        border-color: var(--color-secondary, #111);

        &:hover {
          border-color: var(--color-secondary, #111);
        }
      }
    }

    .product-fade-block {
      position: absolute;
      left: 0;
      right: 0;
      padding: 20px 0 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      -webkit-transition: all 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      transition: all 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      will-change: opacity, transform;
    }

    .product-content-fade {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      border-radius: var(--border-radius-sm);
      opacity: 0;
      -webkit-transition: opacity 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      transition: opacity 0.3s cubic-bezier(0.28, 0.12, 0.22, 1);
      will-change: opacity;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
      pointer-events: none;
      z-index: -1;
    }

    &:hover {
      border-color: transparent;

      .product-content-fade {
        opacity: 1;
      }

      .product-fade-block {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
  }

  // ecom-product-grid-style-11
  &.ecom-product-grid-style-11 {
    gap: 10px;
    padding: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    overflow: hidden;

    &::after {
      @extend .after-before;
      background: rgba(255, 255, 255, 0.8);
      visibility: hidden;
      opacity: 0;
    }

    .ecom-img-link-normal {
      text-align: center;
      padding: 5px;
    }

    //action-part-three
    .action-part-three {
      position: absolute;
      right: 22px;
      top: 22px;
      z-index: 9;
      @include transition();

      .ecom-action-btn {
        @include toRem(font-size, 15);
        width: auto;
        height: auto;
        border-radius: unset;
        background-color: transparent;
        padding: 0;
        border: none;
        color: #b1b1b1;

        &:hover {
          color: var(--color-secondary, #111);
          border-color: var(--color-secondary, #111);
        }
      }
    }

    .ecom-category-list {
      .ecom-category-list-item {
        line-height: 1;
      }

      .ecom-tag-text {
        @include toRem(font-size, 13);
        font-weight: 500;
        color: #aeaeae;

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    &:hover {
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);

      &::after {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  //ecom-product-list (layout 1 -6)
  &.ecom-product-list {
    @media (min-width: 576px) {
      flex-direction: row;
      align-items: center;
      gap: 30px;

      .ecom-product-img {
        flex-basis: 32%;
        max-width: 32%;
        align-self: baseline;
      }

      .ecom-product-content {
        flex-basis: 68%;
        max-width: 68%;
      }
    }
  }

  // ecom-product-list-style-1
  &.ecom-product-list-style-1 {
    .ecom-product-category {
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 16px;
      align-items: center;
    }
  }

  // ecom-product-list-style-2
  &.ecom-product-list-style-2 {
    @media (min-width: 576px) {
      .ecom-product-img {
        flex-basis: 38%;
        max-width: 38%;
      }

      .ecom-product-content {
        flex-basis: 60%;
        max-width: 60%;
      }

      .ecom-action-content {
        flex-basis: 40px;
        max-width: 40px;
      }
    }
  }

  // ecom-product-list-style-3
  &.ecom-product-list-style-3 {
    @media (min-width: 576px) {
      .ecom-product-img {
        flex-basis: 50%;
        max-width: 50%;
      }

      .ecom-product-content {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    .ecom-thumbs-slider {
      padding: 0 20px;
      bottom: 20px;
    }

    .ecom-product-img-slider-wrapper {
      &:hover {
        .ecom-slider-btn {
          left: 10px;

          &.ecom-btn-next {
            left: auto;
            right: 10px;
          }
        }
      }
    }

    .product-short-desc {
      padding-top: 12px;
      margin-top: 14px;
      border-top: 1px solid var(--color-border);
    }
  }

  // ecom-product-list-style-4
  &.ecom-product-list-style-4 {
    @media (min-width: 576px) {
      .ecom-product-img {
        flex-basis: 50%;
        max-width: 50%;
      }

      .ecom-product-content {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    .ecom-color-variation {
      margin: 20px 0;
    }
  }

  //ecom-product-list-style-5
  &.ecom-product-list-style-5 {

    //action-part-two
    .action-part-two {
      position: absolute;
      right: 22px;
      top: 22px;
      z-index: 9;
      transform: translateX(100%);
      visibility: hidden;
      opacity: 0;
      @include transition();

      .ecom-action-btn {
        @include toRem(font-size, 15);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #b1b1b1;
        border-color: #b1b1b1;
        background-color: transparent;

        &:hover {
          color: var(--color-white);
          border-color: var(--color-secondary, #111);
          background-color: var(--color-secondary, #111);
        }
      }
    }

    // action-part-one
    .action-part-one {
      .ecom-cart {
        .icon {
          @include toRem(font-size, 18);
        }
      }

      .ecom-action-btn {
        @include toRem(font-size, 15);
        width: 48px;
        height: 48px;
        border-color: var(--color-secondary, #111);
        text-transform: uppercase;

        &:hover {
          border-color: var(--color-secondary, #111);
        }
      }

      .icon {
        @include toRem(font-size, 16);
      }
    }

    .product-short-desc {
      padding-top: 26px;
      margin-top: 30px;
      border-top: 1px solid var(--color-border);
    }

    &:hover {
      .action-part-two {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  //ecom-product-list-style-6
  &.ecom-product-list-style-6 {
    @media (min-width: 576px) {
      .ecom-product-img {
        flex-basis: 36%;
        max-width: 36%;
      }

      .ecom-product-content {
        flex-basis: 64%;
        max-width: 64%;
      }
    }

    .ecom-product-img {
      border-radius: 8px;
      border: 1px solid #e1e1e1;
    }

    .ecom-img-link {
      img {
        background-color: transparent;
      }
    }

    .ecom-category-list {
      .ecom-category-list-item {
        line-height: 1;
      }

      .ecom-tag-text {
        @include toRem(font-size, 13);
        font-weight: 500;
        color: #aeaeae;
        text-transform: uppercase;

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    .ecom-action-buttons {
      gap: 8px;

      .ecom-action-btn {
        width: 42px;
        height: 42px;
        border-color: var(--color-secondary, #111);

        &:hover {
          border-color: var(--color-secondary, #111);
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .shopbuilder-four-grid {
    .ecom-action-buttons {
      &.ecom-action-buttons-cart-box-width-auto {
        .ecom-cart {
          flex-grow: 0;

          .ecom-action-btn {
            width: 40px;

            .text {
              display: none;
            }
          }
        }
      }
    }
  }
}

.shopbuilder-load-more-btn-wrap {
  margin-top: 70px;

  .ecom-fill-btn {
    @include toRem(font-size, 15);
    color: var(--color-secondary, #111);
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 15px 30px;
    text-transform: uppercase;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);

      .icon {
        animation: spin 4s linear infinite;
      }
    }
  }
}

/*ecom-product-img-slider-wrapper*/

.ecom-product-img-slider-wrapper {
  position: relative;

  .swiper {
    position: static;
  }

  .ecom-slider-img {
    position: relative;

    img {
      background-color: #f8f8f8;
    }
  }

  .ecom-thumbs-slider {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 40px;
    z-index: 99;

    .ecom-slider-img {
      position: relative;

      img {
        background-color: #fff;
        background: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 4px;
        filter: grayscale(1);
        transition: all 0.4s ease;
      }
    }

    .swiper-slide-thumb-active {
      .ecom-slider-img {
        img {
          filter: grayscale(0);
        }
      }
    }
  }

  //ecom-slider-btn
  .ecom-slider-btn {
    @include toRem(font-size, 16);
    color: var(--color-black);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 40px;
    height: 40px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    box-shadow: 0px 10px 40px 0 rgba(0, 0, 0, 0.1);
    @include transition();
    visibility: hidden;
    opacity: 0;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
      box-shadow: 0px 10px 40px 0 rgba(0, 102, 255, 0.1);
    }

    &.ecom-btn-next {
      left: auto;
      right: 0;
    }
  }

  &:hover {
    .ecom-slider-btn {
      left: 30px;
      visibility: visible;
      opacity: 1;

      &.ecom-btn-next {
        left: auto;
        right: 30px;
      }
    }
  }

  &.ecom-slider-btn-normal {
    .ecom-slider-btn {
      @include toRem(font-size, 20);
      background: transparent;
      color: #8a8a8a;
      box-shadow: none;
      width: auto;
      height: auto;

      &:hover {
        color: #2a2a2a;
      }
    }
  }
}

/*shop-feature-list*/
.shop-feature-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;

  li {
    flex: 0 0 45%;
    @include toRem(font-size, 16);
    color: var(--color-body, #666);
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      align-self: baseline;
      flex-shrink: 0;
      flex: 0 0 30px;
    }

    @include breakpoint("sm") {
      flex: 0 0 100%;
    }
  }
}